/* ABOUT CONTAINER STYLLING */
.about-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-top: 2em;
}

#selfPotrait-content {
  width: 90%;
  text-align: left;
  margin-top: 20%;
  margin-left: 10%;
}

#selfPotrait {
  width: 70%;
  height: auto;
  border-radius: 50%;
  border: 6px solid #6e57e0;
  animation: fadeIn 3s;
}

.about-details {
  width: 90%;
  height: 100%;
  max-height: 100%;
  text-align: start;
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
}

#subHeader {
  display: block;
  color: #6e57e0;
  font-weight: bolder;
  font-size: 3em;
  letter-spacing: 0.1em;
}

#subContent {
  color: #ffffff;
  font-weight: 550;
  font-size: 100%;
}

/* SKILL CONTAINER STYLLING */
.skill-content {
  display: grid;
}

.skill-details {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
#skill-container {
  display: grid;
  grid-template-columns: 0.1fr 3fr 0.1fr;
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

#skill-set {
  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-column-gap: 3em;
  width: 100%;
  max-width: 98%;
  overflow-x: auto;
  font-family: 'Poppins', sans-serif;
}

#skill-set::-webkit-scrollbar {
  display: none;
}

#skill-logo {
  width: 4em;
  height: 4em;
}

#skill-logo:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#slideLeft,
#slideRight {
  background-color: transparent;
  border: none;
  width: 2em;
  cursor: pointer;
}

#slideLeft:hover,
#slideRight:hover {
  width: 2.5em;
}

/* Text in between lines styling */
h1 {
  overflow: hidden;
  text-align: center;
}

h1:before,
h1:after {
  background-color: #6e57e0;
  content: "";
  display: inline-block;
  height: 2.5px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}


/* Responsiveness styling */
@media only screen and (max-width: 900px) {
  .about-content {
    grid-template-columns: 1fr;
  }

  #selfPotrait-content {
    text-align: center;
    margin-top: 5%;
    margin-left: 0%;
  }

  .about-details #subHeader {
    text-align: center;
  }

  .about-details #subContent {
    text-align: left;
    font-size: 85%;
  }

  .about-details {
    width: 100%;
    max-height: 100%;
  }

  .about-details::-webkit-scrollbar {
    display: none;
  }
}