#work-content {
    display: block;
}
#education-content {
    display: none;
}
.experience-heading {
    display: grid; 
    justify-content: center;
}
.experience-heading-content {
    display: grid; 
    grid-template-columns: auto auto;
    grid-column-gap: 20em;
}

/* Timeline styling */
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  font-family: Jost;
}

.timeline {
  font-family: 'Poppins', sans-serif;
  width: 60%;
  height: auto;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  /* padding: 20px; */
  border-radius: 5px;
  color: white;
  /* padding: 1rem; */
  padding-left: 1rem;
  max-width: 700px;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  background: #6e57e088;
  -webkit-box-shadow: 2px 2px 6px #6e57e0, -2px -2px 6px #6e57e0;
          box-shadow: 2px 2px 6px #6e57e0, -2px -2px 6px #6e57e0;
  /* margin: 0.2rem; */
  margin-bottom: 20px;
  border-radius: 6px;
}

#subContent {
  color: #ffffffb5;
  font-weight: 550;
  font-size: 85%;
}


/* media Queries */
@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background: #6e57e0;
    width: 1px;
    height: 100%;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #6e57e0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #timeline-start {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 40%;
    background: url(/assets/user.svg);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .timeline-content { 
  background: transparent;
  -webkit-box-shadow: 5px 5px 10px transparent, -5px -5px 10px transparent;
          box-shadow: 5px 5px 10px transparent, -5px -5px 10px transparent;
  }
}

@media screen and (max-width: 768px) {
  .experience-heading{
    justify-content: inherit;
  }
  .experience-heading-content {
    grid-column-gap: 3em;
  }
  .design-section {
    min-height: 70vh;
  }
}