body {
    text-align: center;
}

/* Top bar stylling */

#bg-image {
    background-image: linear-gradient(to right, #5b2f47, #4d2746, #3b2046, #261b45, #021742);
}

#top-bar {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: stretch;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

#left-header {
    text-align: left;
    margin-left: 10%;
}

#initial-logo {
    display: inline-block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 6px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    margin-right: 2%;
    cursor: pointer;
}

#right-header {
    text-align: right;
    margin-right: 10%;
}

#header-label {
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-right: 2%;
}

/* Content stylling */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36em;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

#greet {
    color: #dedede;
    font-weight: bolder;
    font-size: 2.4em;
    letter-spacing: 0.2em;
}

#greet-intro {
    color: #ffffff;
    font-weight: bolder;
    font-size: 6em;
    letter-spacing: 0.1em;
}

#greet-role {
    color: #dedede;
    font-weight: bolder;
    font-size: 2em;
    letter-spacing: 0.4em;
}


/* Media Queries */

@media only screen and (max-width: 900px) {
    #left-header {
        text-align: center;
        margin-left: 10%;
    }

    #top-bar {
        grid-template-columns: auto;
        grid-gap: 20px 50px;
    }
    .main-content {
        font-size: 70%;
    }
}

@media only screen and (max-width: 480px) {
    #top-bar {
        grid-template-columns: auto;
        grid-gap: 20px 50px;
    }
    #right-header {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        margin-left: 10%;
    }
    .main-content {
        font-size: 70%;
    }
}

@media only screen and (max-width: 380px) {
    .main-content {
        font-size: 50%;
    }
}